.modal {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    width: 100vw;
    height: 100vh;
    .backdrop {
        background-color: rgba(0, 0, 0, 0.4);
        width: 100vw;
        height: 100vh;
        z-index: 5;
        position: absolute;
    }
    .modalContainer{
        background-color: white;
            padding-top: 0;
            z-index: 6;
            border-radius: 5px;
            .modalHeader{
                border-bottom: 1px solid #c4c4c4;
                padding:20px;
                font-weight: bold;
                font-size: 24px;

            }
        .contentModal{
            width: 600px;
            height: fit-content;
            padding: 20px;
            .row{
                // display: flex;
                // justify-content: center;
                // align-items: center;
                // margin:10px 0;
                .text{
                    font-size: 20px;
                    margin: 10px 0;
                    width: 160px;
                }
                input{
                    border: 1px solid #c4c4c4;
                    width: 100%;
                    padding: 10px;
                    margin-top: 0px;
                    font-size: 16px;
                }
    
            }
            .rowBtn{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                // align-items: flex-end;
                margin: 10px 0;
                .btnModal{
                    padding: 10px 15px;
                    font-size: 20px;
                    background-color: $color-navbar-red;
                    width: fit-content;
                    border-radius: 5px;
                }

            }
        }
    }
}