.input-component {
    background: #edf3ff;
    border: solid 2px #edf3ff;
    border-radius: 8px;
    padding: 8px;
    color: #101010;
    font-size: 16px;
    font-weight: 500;

    &:focus {
        outline: none;
        border: solid 2px #8a8fdb;
    }

    &.long {
        width: calc(100% - 16px - 4px);
    }
}

@import "./icon-input/index";