//@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url('http://fonts.cdnfonts.com/css/lexend-deca:wght@300;400;500;700;900&display=swap');

/* Style Component */
@import "./assets/styles/index";

/* Component Style */
@import "./components/index";

// Screens styling
@import "./screens/index";


body {
    margin: 0;
    background: $color-zircon;
    font-family: 'Lexend Deca', sans-serif;
}
