.navbar,
.navbar-mobile {
    background: #8a8fdb;
}

.navbar {
    .profile-description {
        text-align: center;
        padding: 20px 10px;

        .avatar {
            border-radius: 50%;
            margin: 20px 0;
        }    

        .name {
            font-size: 20px;
            color: white;
        }

        .roles {
            display: flex;
            flex-flow: row wrap;

            .role {
                width: max-content;
                height: max-content;

                padding: 6px;
                font-size: 14px;
                background: #F8F8F8;
                color: #2c2c2c;
                margin: 4px auto;
                border-radius: 6px;
            }
        }
    }

    .items {
        .item {
            cursor: pointer;
            padding: 8px;
            margin: 4px auto;
            color: white;
            font-size: 16px;
            max-width: 200px;
            display: flex;
            flex-flow: row;
            align-items: center;

            &.active {
                background: #F8F8F8;
                color: #8a8fdb;
                cursor: unset;
            }

            .icon {
                width: 26px;
                height: 26px;
                margin-right: 8px;
            }
        }
    }
}
