<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body id="body-pd"class="body-pd">
  
    <%- include('./partials/nav.ejs') %>

    <form action=""id="my_form">
    <div class="mb-3">
        <label for="category" class="form-label" id="category_nameLabel" >Category name</label>
        <input type="category" class="form-control"style="max-width: 30%;"id="category_nameInput"required>
    </div>
    <button class="btn btn-success" id="submit_category">Add new category</button>
</form>

<script src="/javascript/categoryJquery.js"></script>
<script src="/javascript/javascriptNav.js"></script>
</body>
</html>
