.categoriesScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    // .headerRow{
    //     text-align: center;
    // }
    .contentWrapper {
        width: 80%;
        display: flex;
        justify-content: space-between;
        .table-container{
            width: 70%;
        }
        .addCategory {
            background-color: rgb(226, 226, 226);
            width: fit-content;
            // margin: auto;
            padding: 20px 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            height: fit-content;
            border: 1px solid $color-border;

            .row {
                width: 80%;
                .input-text{
                    width: 100%;
                }
                .btn-submit {
                    margin: 16px 0;
                    width: 100%;
                    max-width: 100%;
                }

                .disabled {
                    background-color: #6867b1;
                }
            }
        }
    }
}

@media only screen and(max-width:1400px) {
    .categoriesScreen {
        .contentWrapper {
            flex-direction: column;
            width: 100%;
            .table-container{
                width: 100%;
                margin-bottom: 20px;
            }
            .addCategory{
                width: 40%;
                min-width: 200px;
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }
    }
}