.button-component {
    display: block;
    background: #8a8fdb;
    padding: 15px;
    color: whitesmoke;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

@import "./long-button/index";