.table-container{
    overflow-x: auto;
    .table{
        min-width: fit-content;
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: space-between;
        .row{
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: fit-content;
            background-color: white;
            margin-bottom: 10px;
            // box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
            box-shadow: 0 8px 6px -6px #c1c1c1;
        }
        .cell{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: white;
            padding: 10px;
            word-wrap: break-word;
            width: 100px;
            height: 70px;
            min-width: 50px;
        }
        .action{
            display: flex;
            justify-content: center;
            align-items: center;
            .action-icon{
                margin: 0px 8px;
                cursor: pointer;
                img{
                    width: 25px;
                    height: 25px;
                }
            }
        }
        .header{
                background-color: $color-candle-flame;
                font-weight: bold;
            }
        
        .pagination{
            display: flex;

            width: 205px;
            border-radius: 15px;
            cursor: pointer;
            user-select: none;
            .changing{
                display: flex;
                .left,.right{
                    height: 40px;
                    max-height: 40px;
                    width: 50px;
                    background-color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .right{
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                }
                .left{
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                }
                .value{
                    width: 60px;
                    background-color: yellow;
                    border-left: 1px solid black;
                    border-right: 1px solid black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 40px;
                }
            }
            .page-number{
                margin-left: 2em;
                .selekt{
                    width: fit-content;
                    padding: 10px 12px;
                    border-radius: 5px;
                    font-weight: bold;
                    background-color: #fff;
                }
            }
        }
    }
}