.form{
    .btn{
        padding: 10px;
        background-color: #83BD75;
        max-width: 150px;
        margin: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;

    }
}