$color-light-purple:#AFA5D9;
$color-header-black:#252525;
$color-navbar-black:#343a40;
$color-navbar-red:#F73859;
$color-navbar-link:#c2c7d0;
$color-navbar-link-hover:#494E53;
$color-navbar-menu: #3e444a;
$color-candle-flame:#FFF5A2;
$color-navbar-drop-link-hover:#505457;